@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #000000;
  --card: #fafafa;
  --card-foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #ffffff;
  --card: #111111;
  --card-foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
} 